<nav class="py-4">
  <div class="container">
  <div class="row">
    <div class="col-md-2">
      Logo
    </div>
    <div class="col-md-8">
      <ul class="list-unstyled d-flex justify-content-around">
        <li><a *ngIf= 'islogin == true' routerLink="/home">Home</a></li>
        <li><a *ngIf= 'islogin == true' routerLink="/home">TV</a></li>
        <li><a *ngIf= 'islogin == true' routerLink="/home">About</a></li>
        <li><a *ngIf= 'islogin == true' routerLink="/home">Movies</a></li>
        <li><a *ngIf= 'islogin == true' routerLink="/home">Person</a></li>


      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled d-flex justify-content-around">
        <li><a routerLink="/register">register</a></li>
        <li><a routerLink="/signin">Login </a></li>

      </ul>
    </div>
  </div></div>
</nav>
