<div *ngIf='err' class="alert alert-danger">{{err}}</div>

<form [formGroup]= 'registerForm' (ngSubmit)= 'getFormData(registerForm)' class="w-75 m-auto py-4">



  <div class="form-group">
    <label>First Name</label>
    <input
    [class.is-invalid] ="registerForm.get('first_name').invalid ==true && registerForm.get('first_name').touched==true"
     formControlName='first_name' type="text" class="form-control">
   <span
    *ngIf= "registerForm.get('first_name').invalid ==true && registerForm.get('first_name').touched==true"
   class="bgfont m-3 p-2 text-danger d-block">first Name not valid</span>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input
    [class.is-invalid] ="registerForm.get('last_name').invalid ==true && registerForm.get('last_name').touched==true"
     formControlName='last_name' type="text" class="form-control">
   <span
   *ngIf= "registerForm.get('last_name').invalid ==true && registerForm.get('last_name').touched==true"
   class="bgfont m-3 p-2 text-danger d-block">last Name not valid</span>
  </div>

  <div class="form-group">
    <label>age</label>
    <input
    [class.is-invalid] ="registerForm.get('age').invalid ==true && registerForm.get('age').touched==true"
    formControlName='age' type="number" class="form-control">
   <span *ngIf= "registerForm.get('age').invalid ==true && registerForm.get('age').touched==true"
   class="bgfont m-3 p-2 text-danger d-block">age not valid</span>
  </div>

  <div class="form-group">
    <label>E-mail</label>
    <input
    [class.is-invalid] ="registerForm.get('email').invalid ==true && registerForm.get('email').touched==true"
    formControlName='email' type="email" class="form-control">
   <span
   *ngIf= "registerForm.get('email').invalid ==true && registerForm.get('email').touched==true"
   class="bgfont m-3 p-2 text-danger  d-block">E-mail Name not valid</span>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input
      [class.is-invalid] = "registerForm.get('password').invalid ==true && registerForm.get('password').touched==true"
    formControlName='password' type="password" class="form-control">
   <span *ngIf= "registerForm.get('password').invalid==true && registerForm.get('password').touched==true"
   class="bgfont m-3 p-2 text-danger  d-block">password Name not valid</span>
  </div>

  <button [disabled]= 'registerForm.invalid == true' class="btn btn-danger" type= "submit">Register</button>

</form>

